/*@import "tailwindcss";*/
/*@plugin '@tailwindcss/typography';*/

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --dark-color: #181818;
    --burger-menu-color: #d1d1df;
    --button-color: #262626;
    --text: white;
    --text2: white;

    --padding: 4px;
}

html {
    display: flex;
    height: 100%;
}

body, #app, .max-size {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    margin: 0;
}

.page-title {
    font-weight: bolder;
    font-size: 2em;
    padding-bottom: 20px;
}

h1, h2, h3 {
    margin: var(--padding);
}

h1 {
    font-size: 2.4em;
    line-height: 1.1;
}

p {
    margin: 6px;
}

button, select {
    font-family: inherit;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: calc(var(--padding) * 2) calc(var(--padding) * 3);
    font-size: 1em;
    font-weight: 500;
    color: var(--text2);
    background-color: var(--button-color);
    cursor: pointer;
    transition: all 0.25s;
}

button:active {
    transform: translateY(2px);
    background-color: color-mix(in lab, white 15%, var(--button-color) 85%);
}

button:disabled {
    border: 1px solid red;
    color: color-mix(in lab, var(--text2) 50%, black 50%);
    cursor: not-allowed;
    text-decoration: line-through;
}

button:disabled:hover {
    border-color: red;
}

select:hover, button:hover {
    background-color: color-mix(in lab, white 10%, var(--button-color) 90%);
    border-color: #646cff;
}

select:focus,
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.subpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: var(--padding);
}

.card {
    background-color: var(--dark-color);
    padding: calc(var(--padding) * 4) calc(var(--padding) * 4);
    border-radius: 8px;
    margin: calc(var(--padding) * 2) 0;
    /*max-width: min(80%, 800px);*/
    max-width: 850px;
}

.hamburger span .hamburger-inner,
.hamburger span .hamburger-inner:before,
.hamburger span .hamburger-inner:after {
    background-color: var(--text2) !important;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #1c2835;
        --text2: white;
        background-color: #cdd5cd;

        --dark-color: #6fc152;
        --burger-menu-color: #ffffff;
        --button-color: #497249;
    }
}